<div class="d-flex m-4">
    <div class="row">
        <label for="month" class="mb-0 app-font font-size">Mês: </label>
        <select id="month" class="ml-4 app-font month-select font-size">
            <option disabled selected>Selecione um Mês</option>
            <option>Janeiro</option>
            <option>Fevereiro</option>
        </select>
        <label for="month" class="mb-0 ml-4 app-font font-size">Ano: </label>
        <select id="month" class="ml-4 app-font month-select font-size">
            <option disabled selected>Selecione um Ano</option>
            <option>2020</option>
            <option>2021</option>
        </select>
    </div>

    <button class="btn btn-primary app-font font-size new-month">Iniciar Novo Mês</button>
</div>
